@use "global" as *;

.btn {
  display: block;
  width: 100%;
  padding: rem(9);
  border: 1px solid $white;
  color: $white;
  font-size: rem(20);
  letter-spacing: .1em;
  text-align: center;
  background: linear-gradient(to right, white 0% 50%, black 50% 100%);
  background-position: right;
  background-size: 200%;
  transition: background .3s, color .3s;
}

@media (hover: hover) {
  .btn:focus,
  .btn:hover {
    background-position: left;
    color: black;
  }
}

@media (hover: none) {
  .btn:active {
    background-position: left;
    color: black;
  }
}

