@use "global" as *;

.footer-nav {
}

.footer-nav__item a {
  display: block;
  width: 100%;
  padding: rem(4) 0;
  font-size: rem(16);
  letter-spacing: .075em;
}

.footer__bottom {
  margin-top: rem(28);

}

.footer__copy-right {
  font-size: rem(11);
  letter-spacing: .109em;
}